body {
	font-family: sans-serif;
	background: black;
}
h1 {
	font: 24px/1.3 Arial,Verdana, sans-serif;
	font-weight: normal;
	color: white;
}

.name-title {
	/*margin-right: 270px;*/
  	padding: 3.6em 2.55em 0;
}
/*.slideshow-panel {
	display: table;
	width: 1px; 
}*/
/*.img-title-info {
	display: block;
	display: table-caption;
	caption-side: top;
}*/
.show-left {
	float: left;
	/*width:60%;*/
	text-align:left;
	padding-left: 40px;
	display: block;
	width: 100%
}
.show-middle {
	float: left;
	display: inline-block;
	width:40%;
}
/*.show-right {
	float: left;
	width:20%;
	text-align:right;
}*/
.on-own-line {
	clear: both;
	display: block;
	line-height: 0.7;
	margin-bottom: 0px;
	padding-left: 40px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px dotted rgba(0, 0, 0, 0.1);
    border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
    visibility: hidden;
}
hr.hide-me {
	visibility: hidden;
	margin-top: 49px;
}
ul {
	list-style:none;
	display: block;
	text-align: left;	
}
.left-nav-panel {
	margin-top: 50px;
}
a {
	color: white;
	font: Arial,Verdana, sans-serif;
	font-size: 90%;
}
a:visited, a:link {
	text-decoration: none;
}
a:hover, a:focus {
	/*removed a:active*/
  font-weight: normal;
  text-decoration: none;
  color: #ffbb00;
}
.active-orange {
  font-weight: normal;
  text-decoration: none;
  color: #ffbb00;
}
.gallary-display {
	margin-top: 9px;
}
.img-container{
	clear: both;
	display: block;
	width: 650px; 
    height: 440px;
    margin-bottom: 18px;
    vertical-align: middle;
}
.img-sub-container{
	clear: both;
	width: 650px; 
    height: 440px;
    margin-bottom: 18px;
    vertical-align: middle;
    display: table-cell;
}
ul li img {
	display: block;
    height: auto; 
    width: auto; 
    max-width: 650px; 
    max-height: 440px;
    /*float: left;*/
}
p {
	color: #ffbb00;
	/*padding-left: 40px;*/
	/*display: inline-block;*/
}
.info-container{
	clear: both;
	display: block;
	width: 650px; 
    height: 50px;
    /*margin-bottom: 18px;*/
    /*vertical-align: middle;*/
}
.bottom-button {
	display: inline;
	padding: 0.2em;
}
.bottom-dots {
	clear: both;
	display: block;
	/*width: 270px;*/
	width: 515px; 
	color: white;
}
.arrow-left {
	padding-top: 3.5px;
    /*padding-left: 446px;*/
	padding-left: 42px;
	clear: both;
}
.arrow-right {
	padding-left: 6px;
	/*padding-left: 410px;*/
	clear: both;
}
/*.info-moved-up-adjustment {
	padding-left: 0px;
	margin-bottom: 10px;
}
*/
.text-list {
	margin-top: 25px;
	padding-left: 60px;
}
.list-group-item {
	/*padding-left: 40px;*/
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: black;
	border: none;
}
.not-orange, .not-orange:hover, .not-orange:focus, .not-orange:visited, .not-orange:active {
	color: white;
}
#email-img {
	padding-top: 425px;
}