<!DOCTYPE html>
<html lang="en" ng-app="gallery">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Alexandra Wool</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Stylesheet -->
    <link href="css/stylesheet.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
  </head>
	<body>
		<!-- angular scripts -->
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<!-- site content -->
		<div class="container">
			<div class="name-title">
				<h1>ALEXANDRA WOOL</h1>
			</div>	
			<hr class="hiden-no-margin">
			<div class="row" ng-controller="PanelCtrl as panel">
				<div class="col-sm-3 col-md-3 col-lg-3">
					<ul class="nav-stacked left-nav-panel">
						<li ng-repeat="category in panel.categories" class="left-nav-item">
							<a href ng-click="panel.selectTab($index)" ng-class="{ 'active-orange' : panel.isSelected($index) }">{{category.category}}</a>
						</li>
						<hr>
						<li><a href ng-click="panel.selectTab(15)" ng-class="{ 'active-orange' : panel.isSelected($index) }">cv/exhibitions</a></li>
						<li><a href ng-click="panel.selectTab(16)" ng-class="{ 'active-orange' : panel.isSelected($index) }">collections</a></li>
						<li><a href ng-click="panel.selectTab(17)">contact</a></li>
					</ul>
				</div>
				<div class="col-sm-8 col-md-8 col-lg-8 gallary-display">
					<div ng-repeat="category in panel.categories" ng-show="panel.tab === $index" class="slideshow-panel">
						<!-- <h3>{{category.category}}</h3> -->
						<div class="img-title-info">
							<p class="show-left">{{category.paintings[panel.current].name}}</p>
							<!-- <p class="show-middle">{{category.paintings[panel.current].info}}</p><p class="show-right">{{category.paintings[panel.current].size}}</p> -->
						</div>
						<!-- <p class="secondLineInfo">{{category.paintings[panel.current].secondLineInfo}}</p> -->
						<ul>
							<li>
								<div class="img-container">
									<div class="img-sub-container">
										<img ng-src="{{category.paintings[panel.current].img}}">
										<br>
										<!-- <p class="on-own-line">{{category.paintings[panel.current].info}}</p><p class="show-middle">{{category.paintings[panel.current].moreinfo}}</p>
										<p class="on-own-line">{{category.paintings[panel.current].size}}</p>
										<br>
										<ul class="info-moved-up-adjustment bottom-dots">
											<li class="bottom-button" ng-repeat="painting in category.paintings">
												<a href ng-click="panel.setCurrent($index)">
													<i class="fa fa-circle-o" ng-class="{ 'fa-circle' : panel.isCurrent($index) }"></i>
												</a>
											</li>
										</ul>
										<div class="bottom-dots">
											<a href ng-click="panel.setCurrent(panel.current - 1)"><i class="info-moved-up-adjustment bottom-button arrow-left fa fa-arrow-left"></i><a><a href ng-click="panel.setCurrent(panel.current + 1)"><i class="arrow-right fa fa-arrow-right show-right bottom-button"></i><a>
										</div> -->
									</div>
								</div>
							</li>
						</ul>
						<div class="info-container">
							<p class="on-own-line">{{category.paintings[panel.current].info}}</p><p class="show-middle">{{category.paintings[panel.current].moreinfo}}</p>
							<p class="on-own-line">{{category.paintings[panel.current].size}}</p>
						</div>
						<!-- <br> -->
						<ul class="bottom-dots">
							<li class="bottom-button" ng-repeat="painting in category.paintings">
								<a href ng-click="panel.setCurrent($index)">
									<i class="fa fa-circle-o" ng-class="{ 'fa-circle' : panel.isCurrent($index) }"></i>
								</a>
							</li>
						</ul>
						<div class="bottom-dots">
							<a href ng-click="panel.setCurrent(panel.current - 1)"><i class="info-moved-up-adjustment bottom-button arrow-left fa fa-arrow-left"></i><a><a href ng-click="panel.setCurrent(panel.current + 1)"><i class="arrow-right fa fa-arrow-right show-right bottom-button"></i><a>
						</div>
					</div>	
					<div ng-show="panel.tab === 15" class="slideshow-panel">
						<!-- <p>Education:</p> -->
						<br>
						<ul class="not-orange indented text-list">
							<li>Harvard University BA, MA</li>
							<li>Institute of International Education grant for study in Oslo</li>
						</ul>
						<!-- <p>Exhibitions:</p> -->
						<ul class="not-orange indented text-list">
							<li>Lazy Hour Ranch Gallery, Farmington, Pennsylvania (solo)</li>
							<li>Rasmussen, Oslo (solo)</li>
							<li>JWT World Gallery of Art, NYC (solo)</li>
							<li>Janet Nessler Gallery, NYC</li>
							<li>Roko Gallery, NYC</li>
							<li>National Academy of Design, NYC</li>
							<li>Hubert Gallery, NYC</li>
							<li>Portraits Inc, NYC</li>
							<li>FAR, NYC</li>
							<li>Quinata Gallery Sara Roby Foundation , Nantucket (solo)</li>
							<li>Nasrudin Gallery, Boston (solo)</li>
							<li>Munson Gallery, New Haven</li>
							<li>Francesca Anderson Gallery, Boston (Wool+1)</li>
							<li>Central Place Gallery, Bangor, Maine</li>
							<li>Gallerie Jallerat, Bourges, France (solo)</li>
							<li>CAT, Ltd., Huntsville, Alabama</li>
							<li>Gates-Muggia, Pasadena</li>
							<li>Anderson Fine Arts Center, Oklahoma</li>
							<li>Millbrook Gallery, Millbrook, NewYork</li>
							<li>Bell Gallery, Rhinebeck, NewYork</li>
							<li>Bell Gallery West, Woodstock, NewYork</li>
							<li>Connoisseur Gallery, Rhinebeck, NewYork</li>
							<li>Crossroads of Sport, NYC</li>
							<li>Derby Museum, Lexington, Kentucky</li>
							<li>Barrett House, Poughkeepsie, NewYork</li>
							<li>Lizan-Tops, East Hampton, NewYork</li>
							<li>Ross-Diaz, Ridgefield , Connecticut (solo)</li>
							<li>Ross-Diaz, Beacon, New York (solo)</li>	
						</ul> 
					</div>
					<div ng-show="panel.tab === 16" class="slideshow-panel">
						<!-- <p>Collections</p> -->
						<br> 
						<ul class="list-group row not-orange text-list">
							<li class="list-group-item col-xs-6">J. Walter Thompson,Inc.</li>
							<li class="list-group-item col-xs-6">Lewis Strauss</li>
							<li class="list-group-item col-xs-6">Robert Gross Ltd.</li>
							<li class="list-group-item col-xs-6">Dr. U.J. Salmon</li>
							<li class="list-group-item col-xs-6">Frank and Nancy Stevenson</li>
							<li class="list-group-item col-xs-6">Arthur and Jan Sudler</li>
							<li class="list-group-item col-xs-6">Leo and Vita Trachtenberg, </li>
							<li class="list-group-item col-xs-6">Guy and Jeannine Gallo</li>
							<li class="list-group-item col-xs-6">Harvest Films</li>
							<li class="list-group-item col-xs-6">Ann McDonald,Esq.</li>
							<li class="list-group-item col-xs-6">Ruth Carpenter</li>
							<li class="list-group-item col-xs-6">Nathan and Vera Shapiro</li>
							<li class="list-group-item col-xs-6">J.B. and Mary Babcock</li>
							<li class="list-group-item col-xs-6">Drs. Seth and Andrea Abramson</li>
							<li class="list-group-item col-xs-6">Frank Ventgen</li>
							<li class="list-group-item col-xs-6">Donald C. Fresne</li>
							<li class="list-group-item col-xs-6">Ann LaFarge</li>
							<li class="list-group-item col-xs-6">Carla K. Lott</li>
							<li class="list-group-item col-xs-6">James and Lee Cornell</li>
							<li class="list-group-item col-xs-6">Lawrence and Jan Wechsler</li>
							<li class="list-group-item col-xs-6">Paul Okolowicz</li>
							<li class="list-group-item col-xs-6">Dr. Lewis and Michael Sheiner</li>
							<li class="list-group-item col-xs-6">Mimi Sheiner</li>
							<li class="list-group-item col-xs-6">Naomi Sheiner,Esq.</li>
							<li class="list-group-item col-xs-6">Robert and Annie Snyder</li>
							<li class="list-group-item col-xs-6">Dorothy Rosenhaus</li>
							<li class="list-group-item col-xs-6">Bruce Rosen</li>
							<li class="list-group-item col-xs-6">Robert Hallock</li>
							<li class="list-group-item col-xs-6">David and Rachel Straus</li>
							<li class="list-group-item col-xs-6">Robert Halmi</li>
							<li class="list-group-item col-xs-6">Gary Beller</li>
							<li class="list-group-item col-xs-6">Dr. Philip Lee</li>
							<li class="list-group-item col-xs-6">Senator Sydney Lee</li>
							<li class="list-group-item col-xs-6">Marion Mainwaring</li>
							<li class="list-group-item col-xs-6">Rick Barabino</li>
							<li class="list-group-item col-xs-6">David Gardiner</li>
							<li class="list-group-item col-xs-6">Alan and Nancy Rudolph</li>
							<li class="list-group-item col-xs-6">Louise Boutin</li>
							<li class="list-group-item col-xs-6">Lucian K. Wernick</li>
							<li class="list-group-item col-xs-6">Drs. Jerome and Georgine Kavka</li>
							<li class="list-group-item col-xs-6">Dr. Abby and Myra Franklin</li>
							<li class="list-group-item col-xs-6">Dr. Cynthia Grey</li>
							<li class="list-group-item col-xs-6">Tuck LaFavers</li>
							<li class="list-group-item col-xs-6">Anna Malek</li>
							<li class="list-group-item col-xs-6">Amy Pommier</li>
							<li class="list-group-item col-xs-6">Carol Nelson</li>
							<li class="list-group-item col-xs-6">Mirja Lavanne</li>
						</ul>
					</div>
					<div ng-show="panel.tab === 17" class="slideshow-panel">
						<br>
						<!-- <img src="public/Email_address.jpg" id="email"> -->
						
						<p class="not-orange text-list" id="email">alexandrawool1@gmail.com</p> 
					</div>
				</div>
			</div>		
		</div>
		  
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="js/bootstrap.min.js"></script>
	</body>
</html>
 
      